{% extends "page.html" %}

{% load i18n %}
{% load introspection %}

{% block meta-title %}
    {% if object and object.pk %}
    {% with model=object|model_name %}
    {% blocktrans %}Edit {{ model }}{% endblocktrans %}
    {% endwith %}
    {% else %}
    {% with model=view.model|model_name %}
    {% blocktrans %}Add {{ model }}{% endblocktrans %}
    {% endwith %}
    {% endif %}
{% endblock %}

{% block page-title %}
    <h1 class="ui header">
        {% block page-main-title %}
            {% if object and object.pk %}
            {{ object|striptags|capfirst }}
            {% else %}
            {% with model=view.model|model_name %}
            {% blocktrans %}Add {{ model }}{% endblocktrans %}
            {% endwith %}
            {% endif %}
        {% endblock %}
        <div class="sub header">
        {% block page-sub-title %}
            {% if object and object.pk %}
            {% with model=object|model_name %}
            {% blocktrans %}Edit {{ model }}{% endblocktrans %}
            {% endwith %}
            {% endif %}
        {% endblock %}
        </div>
    </h1>
{% endblock %}

{% block main %}
    {% include form.template_name|default:"partials/form.html" with form=form %}
{% endblock %}
