{% load i18n %}
{% load introspection %}

<div class="ui modal">
    <h1 class="ui header">
        {% block page-main-title %}
            {% if object and object.pk %}
            {{ object|striptags|capfirst }}
            {% else %}
            {% with model=view.model|model_name %}
            {% blocktrans %}Add {{ model }}{% endblocktrans %}
            {% endwith %}
            {% endif %}
        {% endblock %}
        <div class="sub header">
        {% block page-sub-title %}
            {% include "partials/status_label.html" with colour="yellow" label="Not Saved" %}
        {% endblock %}
        </div>
    </h1>
    <div class="content">
    {% block main %}
        {% include form.template_name|default:"partials/form.html" with form=form %}
    {% endblock %}
    </div>
</div>
