{% load i18n %}
{% load introspection %}

<div class="ui approve delete small basic modal">
    <div class="ui warning message">
        <div class="ui icon header">
            <i class="trash icon"></i>
            {{ object }}
        </div>
        <div class="ui divider"></div>
        <div class="content">
            <div class="header">
                {% block deletion-message %}
                {% blocktrans with object|model_name as model %}Are you sure you want to <strong>delete</strong> this {{ model }}?{% endblocktrans %}
                {% endblock %}
            </div>
            <p>{% blocktrans %}Please, keep in mind this operation is <strong>irreversible</strong>...{% endblocktrans %}</p>
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}
                <div class="actions">
                    <div class="ui red cancel basic button">{% trans "No" %}</div>
                    <button type="submit" class="ui green approve basic button">{% trans "Yes" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
