{% extends "base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load menus %}

{% block wrapper %}
    <header id="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        {% block brand %}{% include "partials/brand.html" %}{% endblock %}
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar">
                        <i class="fa fa-lg fa-bars"></i>
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    </button>
                </div>
                {% block navbar-menu %}
                    {% if user.is_authenticated %}{% render_menu "user_area_logged" "menus/partials/menu_navbar.html" %}{% endif %}
                {% endblock %}
            </div>
        </nav>
        <nav id="breadcrumbs">
            <ol class="breadcrumb">
                {% block breadcrumbs %}{% add_crumb 'Home' %}{% endblock %}{% render_breadcrumbs %}
            </ol>
        </nav>
        <nav id="user-bookmarks">
            {% include "partials/user_bookmarks.html" %}
        </nav>
    </header>

    <div id="content">
        {% block layout %}
        {% include "partials/sidebar.html" %}

        <div id="main">
            {% include "partials/messages.html" %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="page-header animated {% block page-header-anim %}fadeInDown{% endblock %}">
                            {% block page-header %}
                            <div class="row">
                                <div class="col-sm-8">
                                    {% block page-title %}
                                    {% endblock %}
                                </div>
                                <div class="col-sm-4">
                                    {% block page-actions %}
                                    {% endblock %}
                                </div>
                            </div>
                            {% block page-header-extra %}
                            {% endblock %}
                            {% endblock %}
                        </header>

                        <div class="page-content animated {% block page-content-anim %}fadeIn{% endblock %}">
                            {% block main %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
