{% extends "page.html" %}

{% load i18n %}
{% load perms %}
{% load regions %}

{% block meta-title %}
    {% first_region_for user as user_dashboard %}
    {{ user_dashboard.title }} | 
{% endblock %}

{% block page-title %}
    {% first_region_for user as user_dashboard %}
    <h1>{{ user_dashboard.title }}</h1>
{% endblock %}

{% block page-actions %}
    {% first_region_for user as user_dashboard %}
    <a class="ui add icon button" href="{% url 'plugget_add' user_dashboard.slug %}">
        <i class="plus icon"></i>
    </a>
{% endblock %}

{% block main %}
    {% first_region_for user as user_dashboard %}
    {% render_region user_dashboard.slug "pluggets/partials/dashboard.html" %}
{% endblock %}
