body {
    min-width: 320px;
    background-color: #c8c8c9;
}

a,
.ui.breadcrumb a {
    color: #db2828;
}

a:hover,
.ui.breadcrumb a:hover {
    color: #bb0808;
}

a:focus {
    outline: none;
}

.ui.compact.button,
.ui .compact.button,
.ui.compact > .button,
.ui .compact > .button {
    background: transparent;
    border: none;
    margin: 0;
}

.ui.modal,
.ui.modal > .actions {
    text-align: center;
}

.ui.menu .dropdown.item > .menu {
    min-width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.ui.menu .dropdown.center.item > .menu,
.ui.menu .dropdown.center.item > .animating.menu {
    left: 50% !important;
    -webkit-transform: translate(-50%) !important;
    transform: translate(-50%) !important;
}

.ui.menu .dropdown.item > .menu > .item > .description {
    margin-left: auto;
    padding-left: 1em;
}

.ui.internal.pointing.menu .active.item:after,
.ui.internal.pointing.menu .active.item:hover:after,
.ui.vertical.internal.pointing.menu .active.item:after,
.ui.vertical.internal.pointing.menu .active.item:hover:after {
    background-color: #3d3e3f;
}
.ui.inverted.internal.pointing.menu .active.item:after {
    background: #f2f2f2!important;
    margin: 0!important;
    box-shadow: none!important;
    border: none!important;
}
.ui.internal.pointing.menu .active.item:after,
.ui.internal.pointing.menu .active.item:hover:after,
.ui.vertical.internal.pointing.menu .active.item:after,
.ui.vertical.internal.pointing.menu .active.item:hover:after {
    background-color: #3d3e3f;
}

.ui.attached.compact {
    width: 100%;
    max-width: 50em;
}

.ui.form .field input,
.ui.form .field textarea,
.ui.form .field select,
.ui.form .field .dropdown.selection {    
}

.region.dashboard {
    margin-top: 0 !important;
}

.region.dashboard .empty-plugget-space {
    height: 240px;
    line-height: 240px;
    border: 2px dashed rgba(0,0,0,.2);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0,0,0,.6);
}

.region.dashboard .empty-plugget-space:hover {
    border-color: rgba(0,0,0,.4);
}

.region.dashboard .plugget {
    min-height: 240px;
}

.region.dashboard .plugget .content {
    flex-grow: 999999;
}

.region.dashboard .plugget .content .header {
    vertical-align: middle;
}

.region.dashboard .plugget .content:first-child,
.region.dashboard .plugget .extra.content {
    flex-grow: 1;
}

#footer {
    padding: 3rem 0;
}
