body {
    min-width: 320px;
    background-color: #c8c8c9;
}

a,
.ui.breadcrumb a {
    color: #db2828;
}

a:hover,
.ui.breadcrumb a:hover {
    color: #bb0808;
}

a:focus {
    outline: none;
}

.ui.modal,
.ui.modal > .actions {
    text-align: center;
}

.ui.menu .dropdown.item > .menu {
    min-width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.ui.menu .dropdown.center.item > .menu,
.ui.menu .dropdown.center.item > .animating.menu {
    left: 50% !important;
    -webkit-transform: translate(-50%) !important;
    transform: translate(-50%) !important;
}

.ui.menu .dropdown.item > .menu > .item > .description {
    margin-left: auto;
    padding-left: 1em;
}

.ui.internal.pointing.menu .active.item:after,
.ui.internal.pointing.menu .active.item:hover:after,
.ui.vertical.internal.pointing.menu .active.item:after,
.ui.vertical.internal.pointing.menu .active.item:hover:after {
    background-color: #3d3e3f;
}
.ui.inverted.internal.pointing.menu .active.item:after {
    background: #f2f2f2!important;
    margin: 0!important;
    box-shadow: none!important;
    border: none!important;
}
.ui.internal.pointing.menu .active.item:after,
.ui.internal.pointing.menu .active.item:hover:after,
.ui.vertical.internal.pointing.menu .active.item:after,
.ui.vertical.internal.pointing.menu .active.item:hover:after {
    background-color: #3d3e3f;
}

.ui.stackable.grid {
    margin-left: -14px !important;
    margin-right: -14px !important;
}

#footer {
    padding: 3rem 0;
}
