#header,
#sidebar,
#breadcrumbs,
#userarea {
    width: 100%;
    min-width: 280px;
}

#header {
    border-bottom: 1px solid rgba(255,255,255,.15);
}

#header .item {
    cursor: pointer;
    justify-content: space-around;
}

#header .brand.item a {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 0;
    color: transparent;
    background: url(../images/logo.png) no-repeat center;
}

#header .date.item {
    flex-grow: 2;
}

#header .sidebar.item {
    display: flex;
}

#header .nav.item {
    display: none;
}

.pusher {
    min-width: 320px;
    height: 100%;
}

#sidebar,
#breadcrumbs {
    display: flex;
    position: fixed;
    left: -100%;
    transition: left 0.5s;
}

#sidebar.visible,
#breadcrumbs.visible {
    left: 0;
}

#sidebar {
    z-index: 101;
    margin: 0;
    padding: 0;
    top: 110px;
    bottom: 55px;
    border-radius: 0;
}

#sidebar > .region {
    width: 100%;
}

#breadcrumbs.visible {
    display: flex;
    
}

#userarea {
    position: fixed;
    visibility: visible;
    z-index: 1000;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    border-top: 1px solid rgba(255,255,255,.1);
    text-align: center;
}

#userarea .profile.item {
    flex-grow: 2;
}

#userarea .logout.item:hover {
    background-color: #db2828;
}

#main {
    min-height: 100%;
    padding: 2.75rem;
    margin: 55px 0 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#breadcrumbs {
    top: 55px;
    right: 0;
    height: 55px;
    margin-left: inherit;
    border-top: none;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: none;
}

#breadcrumbs .breadcrumb.item {
    display: none;
}

#breadcrumbs .breadcrumb.item:first-child {
    display: flex;
}

.ui.notifications.dropdown.item > .menu {
    right: -2em !important;
    min-width: 280px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.ui.notifications.bottom.right.pointing.dropdown>.menu:after {
    right: 3em;
}

.region.dashboard .empty-plugget-space {
    height: 240px;
    line-height: 240px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0,0,0,.6);
}

.region.dashboard .plugget {
    min-height: 240px;
}

.region.dashboard .plugget .content {
    flex-grow: 999999;
}

.region.dashboard .plugget .content:first-child,
.region.dashboard .plugget .extra.content {
    flex-grow: 1;
}

#footer {
    padding-bottom: 110px;
}

/* Small devices (tablets, 768px and up) **************************************/

@media (min-width: 768px) {

    #breadcrumbs .breadcrumb.item {
        display: flex;
    }
}

/* Medium devices (desktops, 992px and up) ************************************/

@media (min-width: 992px) {

    #header,
    #sidebar,
    #userarea {
        width: 320px;
        min-width: 64px;
    }

    #userarea+.pusher {
        margin-left: 320px;
    }

    #header.collapsed {
        width: 104px;
    }

    #userarea.collapsed+.pusher {
        margin-left: 0;
    }

    #userarea.collapsed+.pusher #breadcrumbs {
        left: 104px;
    }

    #header.collapsed .date.item {
        display: none;
    }

    #header.collapsed .nav.item .icon {
        transform: rotate(180deg);
    }

    #sidebar.collapsed,
    #userarea.collapsed {
        display: none;
    }

    #header .sidebar.item {
        display: none;
    }

    #header .nav.item {
        display: flex;
    }

    #sidebar,
    #breadcrumbs {
        left: 0;
        transition: left 0s;
    }

    #sidebar {
        top: 55px;
    }

    #breadcrumbs,
    #breadcrumbs .item {
        color: rgba(0,0,0,.87) !important;
        border-color: rgba(34,36,38,.15) !important;
        border-width: 1px !important;
    }

    #breadcrumbs {
        width: auto;
        top: 0;
        background-color: #fff;
    }

    #breadcrumbs .breadcrumb.item:before {
        background: rgba(34,36,38,.1);
    }
}

/* Big devices (1200px and up) ************************************************/

@media (min-width: 1200px) {
}
