
body {
}

.ui.splash.segment {
    width: 320px;
    padding: 2em;
    margin: 3.5em auto 0;
}

.ui.splash.segment .ui.image {
    margin: -3.5em auto 3em;
}

/* Small devices (tablets, 768px and up) **************************************/

@media (min-width: 768px) {

    .ui.splash.segment {
        margin-top: 6em;
    }
}
