{% extends "base_wizard_form.html" %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb region region.get_absolute_url %}
    {% if object and object.pk %}
    {% add_crumb  object.title object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add plugget' %}
    {% endif %}
{% endblock %}

{% block form-wizard-step-icon %}
    {% if  wizard.steps.step0 == 1 %}
        settings
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block form-wizard-step-title %}
    {{ block.super }}:
    {% if  wizard.steps.step0 == 0 %}
        {% trans "Choose a plugget type" %}
    {% elif plugget_description %}
        {% trans plugget_title %}
    {% endif %}
{% endblock %}

{% block form-wizard-step-description %}
    {% if  wizard.steps.step0 == 0 %}
        {% trans "Click 'Next' to customize it..." %}
    {% else %}
        {% trans plugget_description %}
    {% endif %}
{% endblock %}
