{% extends "base_wizard_form.html" %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb region region.get_absolute_url %}
    {% if object and object.pk %}
    {% add_crumb  object.title object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add plugget' %}
    {% endif %}
{% endblock %}

{% block page-sub-title %}
    {% blocktrans with step1=wizard.steps.step1 count=wizard.steps.count %}Step {{ step1 }} of {{ count }}:{% endblocktrans %}
    {% if wizard.steps.step0 == 0 %}{% trans "choose type" %}{% else %}{% trans "configure settings" %}{% endif %}
{% endblock %}

{% block main %}
    <div class="ui attached compact segment">
        <h3 class="ui header">
            {% if  wizard.steps.step0 == 0 %}
            <i class="magic wand icon"></i>
            <div class="content">
                {% trans "Choose a plugget type" %}
                <div class="sub header">{% trans "Click 'Next' to customize it..." %}</div>
            </div>
            {% elif plugget_description %}
            <i class="settings icon"></i>
            <div class="content">
                {% trans plugget_title %}
                <div class="sub header">{% trans plugget_description %}</div>
            </div>
            {% endif %}
        </h3>
    </div>
    {{ block.super }}
{% endblock %}
