{% extends "base_detail.html" %}

{% load i18n %}
{% load markup %}
{% load introspection %}
{% load breadcrumbs %}
{% load avatar %}

{% block meta-title %}
    {% if object.pk == user.pk %}
    {% trans "My profile" %} | 
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if object == request.user %}
    {% add_crumb "My profile" %}
    {% else %}
    {% add_crumb object %}
    {% endif %}
{% endblock %}

{% block page-main-title %}
    {% if object.pk == request.user.pk %}
    {% trans "My profile" %}
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="ui stackable grid">
        <div class="five wide mobile five wide tablet four wide computer column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="four wide mobile sixteen wide tablet sixteen wide computer column">
                        {% avatar object.email size="250" css_class="ui rounded fluid image" %}
                    </div>
                    <div class="twelve wide mobile sixteen wide tablet sixteen wide computer column">
                        <h2 class="ui header">
                            {{ object.username }}
                            <div class="sub header">
                                {% blocktrans with date=object.date_joined.date %}Joined on {{ date }}{% endblocktrans %}
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="eleven wide mobile eleven wide tablet twelve wide computer column">
            {{ block.super }}
        </div>
    </div>    
{% endblock %}

{% block main-details %}
    <div class="ui details fluid accordion">
        {% with object|get_fields as object_fields %}
        {% include "partials/field_detail_block.html" with legend="Account Info" icon="user" field_list="last_login,is_superuser,is_staff,is_active"|split:',' %}
        {% include "partials/field_detail_block.html" with legend="Contact Info" icon="mail" field_list="email,language,timezone"|split:',' %}
        {% endwith %}
    </div>
{% endblock %}
