{% extends "base_form.html" %}

{% load i18n %}
{% load markup %}
{% load breadcrumbs %}
{% load avatar %}

{% block breadcrumbs %}
    {% if object and object.pk %}
    {% if object == user %}
    {% add_crumb 'My profile' object.get_absolute_url %}
    {% else %}
    {% add_crumb  object object.get_absolute_url %}
    {% endif %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add user' %}
    {% endif %}
{% endblock %}

{% block page-main-title %}
    {% if object.pk == user.pk %}
    {% trans "My profile" %}
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{% block main %}
    {% include form.template_name|default:"partials/form.html" with form=form form_fields_template="auth/partials/user_form_fields.html" %}
{% endblock %}
