{% extends "partials/form_fields.html" %}

{% load i18n %}
{% load markup %}
{% load introspection %}
{% load forms %}
{% load avatar %}

{% block form-visible-fields %}
    <div class="ui grid">
        <div class="sixteen wide mobile six wide tablet four wide computer column">
            {% avatar object.email size="200" css_class="ui centered medium small circular image" %}
        </div>
        <div class="sixteen wide mobile ten wide tablet twelve wide computer column">
            {{ block.super }}
        </div>
    </div>
{% endblock %}
