{% load i18n %}
{% load markup %}
{% load introspection %}
{% load forms %}
{% load avatar %}

<div class="ui grid">
    {% with object|get_fields as object_fields %}
    <div class="sixteen wide mobile six wide tablet four wide computer column">
        {% avatar object.email size="200" css_class="ui centered medium small circular image" %}
    </div>
    <div class="sixteen wide mobile ten wide tablet twelve wide computer column">
        <div class="ui stackable grid">
            {% for fieldname in "username,email,is_superuser,is_staff,language,timezone,date_joined,last_login"|split:"," %}
            <div class="eight wide column">
                {% include "partials/field_details.html" with field=object_fields|get:fieldname %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endwith %}
</div>
