{% load i18n %}

{% if breadcrumbs|length > 1 %}
{% for crumb, link in breadcrumbs %}
    <li{% if forloop.counter > 1 and forloop.counter < breadcrumbs|length|add:-1 %} class="hidden-xs"{% endif %}>
        {% if forloop.first %}
            {% if link %}<a href='{{ link }}' title='{% trans crumb %}'>{% endif %}<i class="fa fa-home"></i> <span class="hidden-xs">{% trans crumb %}</span>{% if link %}</a>{% endif %}
        {% else %}
            {% if link %}<a href='{{ link }}' title='{% trans crumb %}'>{% trans crumb %}</a>{% else %}{% trans crumb %}{% endif %}
        {% endif %}
    </li>
{% endfor %}
{% endif %}
