{% load i18n %}
{% load markup %}
{% load introspection %}

<div class="title{% if active|default_if_none:True %} active{% endif %}">
    <i class="dropdown icon"></i>
    <i class="ui {{ icon }} icon"></i>
    {% trans legend %}
</div>
<div class="content{% if active|default_if_none:True %} active{% endif %}">
    <div class="ui celled very relaxed middle aligned selection list">
        {% for f in field_list %}
        {% with object_fields|get:f as field %}
        <div class="item">
            <div class="{{ field.attname }} inline content">
                <div class="header">{{ field.verbose_name|capfirst }}</div>
                <div class="description">
                    {% include "partials/field_or_empty.html" with object=object field_name=field.attname %}
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
